.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    text-align: center;
    margin-left: auto
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    text-align: left;
}

.locations{
    border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 30px;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 20px;
}

.popover{
    background-color: #FAFAFA;
    display: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type:none;
}

.popover li{
    margin-bottom: 30px;
    margin-top: 30px;
}


.popover li h2{
    font-size: 16px;
    margin-bottom: 5px;
}

.popover li h4{
    margin-bottom: 5px;
}

.filters button:hover{
    opacity: 0.9;
}

.locations:hover .popover{
    display: block;
}

.amenities:hover .popover{
    display: block;
}